
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small devices */
#main-content {
  font-size: 112.5%;
}

#site-name {
  font-size: 2.2em;
}

.eod, .cde {
  font-size: 55%;
}

#block-superfish-1 {
  margin: 1em 0 1em 0;
}

#superfish-1 .sf-depth-1 a{
  font-size: 90%;
}

.view-slideshow .views-field-field-caption {
  font-size: 80%;
  margin

  : -5px 0 1em 0;
}

.pane-menu-menu-cdo, .pane-menu-menu-eod, .pane-menu-menu-cde {
  min-height: auto;
}
